<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fale Conosco</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/stylesFaleconosco.css">
    </head>
    <body>
        <div class="header-banner">
            <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
            <P class="legenda">Para Pessoas da Terceira Idade</P>
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/videomaterial">Vídeos e Textos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/informacoes">Informações</a>
                <a class="hover-underline-animation" href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="corpo-contato">
            <h1>Fale Conosco</h1>
            <p>
                Através do email abaixo você pode entrar em contato, tirar dúvidas ou enviar sugestões.<br/>
                email: educacaofinanceiraidosos@email.com
            </p>
        </div>

        <div class="footer-centralizado">
            <div class="final-pagina">
                <p class="footer-textl">
                    Buscando a conscientização das pessoas sobre assuntos financeiros
                </p>
                <p class="footer-textr">
                    UEG - Universidade Estadual de Goiás
                </p>
            </div>
        </div>
    </body>
</html>