<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Futuros Planos Para o Projeto</title>
        <link rel="stylesheet" href="/css/stylesHome.css">
        <link rel="stylesheet" href="/css/stylesFuturo.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body>
        <div class="header-banner">
            <img class="mascotes" src="/images/heroimascote.jpg" alt="Porquinho mascote do projeto">
            <div class="textos-projeto">
                <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
                <P class="legenda">Para Pessoas da Terceira Idade</P>
            </div>
            <img class="mascotes" src="/images/vilaomascote.jpg" alt="Cartão de crédito vilão do projeto">
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/revista">Revista</a>
                <a class="hover-underline-animation" href="/video">Vídeos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/informacoes">Informações</a>
                <a class="hover-underline-animation" href="/futuro">Futuro</a>
                <a class="hover-underline-animation" href="/contato">Contato</a>
            </nav>
        </div>

        <div class="corpo-etapas">
            <h1 class="titulo-etapas">Etapas de como será o andamento do projeto e seu futuro!</h1>

            <div class="etapa-esquerda">
                <img class="img-etapas" src="/images/presentation.png" alt="Uma pessoa realizando uma apresentação">
                <p class="texto-etapas">1ª Etapa: Realizar a preparação dos professores para atuarem de forma eficiente dentro do programa.</p>
            </div>
            
            <div class="etapa-direita">
                <p class="texto-etapas">2ª Etapa: Apresentar os conteúdos produzidos para a comunidade do estado de Goiás.</p>
                <img class="img-etapas" src="/images/community.png" alt="Representação de várias pessoas de diferentes culturas">
            </div> 

            <div class="etapa-esquerda">
                <img class="img-etapas" src="/images/college.png" alt="Representação de um edifício de uma Universidade">
                <p class="texto-etapas">3ª Etapa: Como um sonho, temos a expectativa de transformar o projeto em um curso de universidade aberta. A ideia é 
                    levar a comunidade para dentro do ambiente acadêmico e agregar conhecimento na vida dessas pessoas.
                </p>
            </div> 
        </div>

        <div class="footer-centralizado">
            <div class="limiter">
                <div class="secao-titulo">
                    <div class="max-width conjunto">
                        <img class="img-logo" src="/images/ProjectLogo.png" alt="Logo do projeto">
                        <h1 class="tamanho-correto">Educação Financeira</h1>
                    </div>
                    <h1 class="max-width">Links</h1>
                    <h1 class="max-width">Entre em Contato</h1>
                    <h1 class="max-width membros">Membros e colaboradores</h1>
                    <h1 class="max-width">Instituições de Ensino</h1>
                </div>
                
                <div class="footer-body">
                    <div class="secao primeiro">
                        <p class="footer-descricao">
                            O intuito do site é hospedar os conteúdos da revista 'Educação Financeira na Terceira Idade' e prover conteúdos
                            extras que agreguem na vida do aluno.
                        </p>
                        <p class="footer-descricao">
                            O site também possui uma área para o professor, onde pode-se encontrar 
                            orientações de como conduzir uma aula ou apresentação do projeto.
                        </p>
                    </div>
                    <div class="secao segundo">
                        <a class="footer-link" href="/">Home</a>
                        <a class="footer-link" href="/revista">Revista</a>
                        <a class="footer-link" href="/videomaterial">Vídeos</a>
                        <a class="footer-link" href="/professor">Professor</a>
                        <a class="footer-link" href="/informacoes">Informações</a>
                        <a class="footer-link" href="/futuro">Futuro</a>
                        <a class="footer-link" href="/contato">Contato</a>
                    </div>
                    <div class="secao terceiro">
                        <p>email: educacaoterceiraidade@email.com</p>
                        <p>telefone: (62) 99547-9784</p>
                        <p>Endereço físico: Fazenda Barreira do Meio</p>
                    </div>
                    <div class="secao quarto">
                        <p class="menor">Líder do projeto: Elke Dias de Souza</p>
                        <p class="menor">Aluno extensionista: Joãozinho</p>
                        <p class="menor">Aluna extensionista: Mariazinha</p>
                        <p class="menor">Aluno extensionista: Felipinho</p>
                        <p class="menor">Aluna extensionista: Anazinha</p>
                    </div>
                    <div class="secao quinto">
                        <p>Universidade Exemplo Qualquer</p>
                        <p>Universidade Estadual de Goiás</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>