<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Educação Financeira Para a 3ª Idade</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <nav class="entire-bar">
                <a href="/">Home</a>
                <a href="/videomaterial">Vídeos e Textos</a>
                <a href="/professor">Professor</a>
                <a href="/links">Links e Downloads</a>
                <a href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="middle-page">
            <div class="img-container"><img class="elder-woman" src="/images/older-woman-finance.jpg" alt="Idosa calculando suas contas" /></div>
            <div class="text">
                <p class="body-text">
                    Manter o controle sobre o próprio dinheiro é uma habilidade essencial em qualquer fase da vida, e isso se torna ainda mais relevante ao alcançar a terceira idade. À medida que envelhecemos, a estabilidade financeira se torna um fator crucial para garantir uma vida confortável e tranquila.
                </p>
                <p class="body-text">
                    Uma das principais razões para manter o controle sobre o dinheiro é a autonomia e independência que ele proporciona. Ao ter conhecimento e domínio sobre suas finanças pessoais, você se torna capaz de tomar decisões conscientes e responsáveis em relação aos seus gastos, investimentos e planejamento para o futuro. Essa autonomia financeira lhe dá liberdade para fazer escolhas que estejam alinhadas com seus objetivos e valores, sem depender exclusivamente de terceiros.
                </p>
                <p class="body-text">
                    Além disso, o controle sobre o próprio dinheiro é um meio eficaz de evitar problemas financeiros e o endividamento excessivo. Ao conhecer sua situação financeira atual, incluindo receitas, despesas e dívidas, você pode identificar possíveis áreas de melhoria e adotar medidas para reduzir gastos desnecessários e aumentar sua capacidade de poupança. Isso ajuda a evitar o acúmulo de dívidas e a construir uma reserva financeira de segurança, que é fundamental para lidar com imprevistos e enfrentar eventuais emergências.
                </p>
                <p class="body-text">
                    Além disso, o controle financeiro possibilita o planejamento para a aposentadoria e o envelhecimento saudável. Ao entender suas necessidades e desejos para o futuro, é possível estabelecer metas financeiras realistas e criar um plano de ação para alcançá-las. Isso pode envolver investimentos adequados, consideração de planos de previdência complementar e a implementação de estratégias que visem maximizar a renda e proteger o patrimônio. Com um planejamento financeiro sólido, você estará mais preparado para desfrutar de uma aposentadoria confortável e segura.
                </p>
            </div>
        </div>

        <div class="body-squares">
            <div class="insider">
                <h1 class="squares-titles">Armadilhas Financeiras</h4>
                <p class="squares-content">Empréstimo Consignado;<br/>Financiamento;<br/>Cartão de crédito.</p>
            </div>
            <div class="insider">
                <h1 class="squares-titles">Planej. Patr. e Sucessório</h4>
                <p class="squares-content">Testamento;<br/>Inventário;<br />Doações;</p>
            </div>
            <div class="insider">
                <h1 class="squares-titles">Ger. de Despesas Médicas</h4>
                <p class="squares-content">Planos de saúde e seguros de saúde;<br/>Uso eficiente de medicamentos;<br/>Progr. gov. de ass. médica.</p>
            </div>
            <div class="insider">
                <h1 class="squares-titles">Tecnologia e Finanças</h4>
                <p class="squares-content">Util.de apps e ferr. financeiras;<br/>Segurança cibernética;<br/>Acesso a serviços bancários.</p>
            </div>
        </div>
    </body>
</html>