<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Educação Financeira Para a 3ª Idade</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="header-banner">
            <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
            <P class="legenda">Para Pessoas da Terceira Idade</P>
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/videomaterial">Vídeos e Textos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/links">Links e Downloads</a>
                <a class="hover-underline-animation" href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="middle-page">
            <div class="img-container"><img class="elder-woman" src="/images/older-woman-finance.jpg" alt="Idosa calculando suas contas" /></div>
            <div class="text">
                <p class="body-text">
                    Manter o controle sobre o próprio dinheiro é uma habilidade essencial em qualquer fase da vida, e isso se torna ainda mais relevante ao alcançar a terceira idade. À medida que envelhecemos, a estabilidade financeira se torna um fator crucial para garantir uma vida confortável e tranquila.
                </p>
                <p class="body-text">
                    Uma das principais razões para manter o controle sobre o dinheiro é a autonomia e independência que ele proporciona. Ao ter conhecimento e domínio sobre suas finanças pessoais, você se torna capaz de tomar decisões conscientes e responsáveis em relação aos seus gastos, investimentos e planejamento para o futuro. Essa autonomia financeira lhe dá liberdade para fazer escolhas que estejam alinhadas com seus objetivos e valores, sem depender exclusivamente de terceiros.
                </p>
                <p class="body-text">
                    Além disso, o controle sobre o próprio dinheiro é um meio eficaz de evitar problemas financeiros e o endividamento excessivo. Ao conhecer sua situação financeira atual, incluindo receitas, despesas e dívidas, você pode identificar possíveis áreas de melhoria e adotar medidas para reduzir gastos desnecessários e aumentar sua capacidade de poupança. Isso ajuda a evitar o acúmulo de dívidas e a construir uma reserva financeira de segurança, que é fundamental para lidar com imprevistos e enfrentar eventuais emergências.
                </p>
                <p class="body-text">
                    Além disso, o controle financeiro possibilita o planejamento para a aposentadoria e o envelhecimento saudável. Ao entender suas necessidades e desejos para o futuro, é possível estabelecer metas financeiras realistas e criar um plano de ação para alcançá-las. Isso pode envolver investimentos adequados, consideração de planos de previdência complementar e a implementação de estratégias que visem maximizar a renda e proteger o patrimônio. Com um planejamento financeiro sólido, você estará mais preparado para desfrutar de uma aposentadoria confortável e segura.
                </p>
            </div>
        </div>

        <div class="board-principal">
            <div class="board-esquerdo">
                <div class="educacao-financeira">
                    <svg class="money-bag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 481 601.25" style="enable-background:new 0 0 481 481;" xml:space="preserve"><g><g><path d="M256.7,301.9h-27.5c-10,0-18.1-8.1-18.1-18.1s8.1-18.1,18.1-18.1h48.4c6.6,0,12-5.4,12-12c0-6.6-5.4-12-12-12h-22.7V225    c0-6.6-5.4-12-12-12s-12,5.4-12,12v16.7h-1.7c-23.2,0-42.1,18.9-42.1,42.1s18.9,42.1,42.1,42.1h27.5c10,0,18.1,8.1,18.1,18.1    s-8.1,18.1-18.1,18.1h-49.3c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12H231v17.1c0,6.6,5.4,12,12,12c6.6,0,12-5.4,12-12v-17.1h2    c0.1,0,0.2,0,0.3,0c23-0.3,41.5-19.1,41.5-42.1C298.8,320.8,279.9,301.9,256.7,301.9z"/><path d="M423.3,274.7c-12.6-29-30-57.1-52-83.4c-26.6-32-53.1-53.4-66.6-63.3l51-94.6c2.5-4.7,1.7-10.5-2.2-14.2    C340.3,6.3,326.3,0,310.7,0c-14.3,0-27.4,5.4-38.8,10.2c-9,3.7-17.5,7.3-24.4,7.3c-2.1,0-3.9-0.3-5.7-1C218,7.8,199.7,2.4,182,2.4    c-22.4,0-41.5,9-60.2,28.2c-3.9,4-4.5,10.3-1.4,15l55,83.1c-13.6,10.1-39.6,31.3-65.7,62.6c-21.9,26.3-39.4,54.4-52,83.4    c-15.8,36.5-23.8,74.6-23.8,113.2c0,51.3,41.8,93.1,93.1,93.1h227c51.3,0,93.1-41.8,93.1-93.1    C447.1,349.3,439.1,311.2,423.3,274.7z M146,40.6c11.6-10,22.7-14.4,36-14.4c14.2,0,30.2,4.8,51.5,12.7c4.4,1.6,9.1,2.4,13.9,2.4    c11.7,0,22.9-4.6,33.6-9.1c10.3-4.3,20.1-8.4,29.6-8.4c4.6,0,11.1,0.8,19.3,6.6l-48,89.2h-83.6L146,40.6z M354,457H127    c-38.1,0-69.1-31-69.1-69.1c0-64.1,23.5-124.9,69.7-180.7c29.2-35.3,58.9-57.2,67.9-63.6h89.8c9.1,6.3,38.7,28.3,67.9,63.6    c46.3,55.8,69.7,116.5,69.7,180.7C423.1,426,392.1,457,354,457z"/></g></svg>
                    <h2>Por Que Educação Financeira?</h2>
                </div>
                <p class="corpo-board">
                    Estudar educação financeira é fundamental porque ela capacita as pessoas a tomar decisões informadas sobre seu dinheiro 
                    e a planejar seu futuro financeiro. Quando se tem conhecimento sobre conceitos básicos, como orçamento, poupança, 
                    investimentos e gerenciamento de dívidas, é possível evitar armadilhas financeiras e alcançar metas financeiras de forma 
                    mais eficiente.<br />
                    A importância da educação financeira se reflete em várias áreas da vida cotidiana. Pessoas que possuem esse conhecimento
                     têm mais chances de evitar dívidas excessivas e de evitar a armadilha do endividamento. Elas são capazes de criar um 
                     plano de orçamento pessoal eficaz, que lhes permite administrar suas despesas e priorizar seus gastos de acordo com
                      suas necessidades e objetivos.
                </p>
            </div>
            <div class="board-direito">
                <div class="educacao-financeira">
                    <h2>Por Que Na Terceira Idade?</h2>
                    <svg class="seniors" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 496 620" style="enable-background:new 0 0 496 496;" xml:space="preserve"><g><path d="M467.041,331.516c-18.674-20.057-44.013-32.177-71.346-34.129L384,296.551v-18.305l8.136-2.034   c32.796-8.199,55.724-37.473,55.858-71.252l0.838-0.168c18.06-3.612,31.168-19.601,31.168-38.02   c0-14.918-8.473-27.886-20.855-34.367l1.852-7.406c1.993-7.973,3.003-16.182,3.003-24.399C464,45.129,418.871,0,363.4,0h-38.8   C269.129,0,224,45.129,224,100.601c0,8.217,1.011,16.426,3.003,24.399l1.844,7.376c-2.001,1.044-3.909,2.265-5.707,3.655   C202.049,111.386,170.739,96,136,96C77.165,96,28.153,140.124,21.994,198.636l-0.396,3.768   c-3.646,34.639-9.778,69.334-18.226,103.123C1.135,314.477,0,323.693,0,332.919c0,24.776,12.502,47.175,32.746,60.181   c-2.506,2.213-4.919,4.551-7.207,7.037C9.07,418.036,0,441.288,0,465.61V496h496v-90.888   C496,377.708,485.716,351.571,467.041,331.516z M480,405.112V416h-48v-91.613C460.649,340.116,480,370.621,480,405.112z    M106.53,344.41C81.091,335.932,64,312.218,64,285.403V224c0-8.822,7.178-16,16-16h4.944l4.377-8.755   c2.234-4.469,6.726-7.245,11.722-7.245c1.218,0,2.429,0.17,3.601,0.504l37.773,10.792C153.342,206.417,164.64,208,176,208   c5.344,0,10.381-1.323,14.814-3.649l3.919,1.96c8.184,4.092,13.267,12.317,13.267,21.466v57.626   c0,26.814-17.091,50.528-42.53,59.007l-5.47,1.824v15.044c0,12.383,9.667,22.888,22.007,23.917c1.761,0.147,3.5,0.372,5.227,0.631   C177.029,404.184,157.451,416,136,416c-21.451,0-41.028-11.815-51.234-30.173c1.727-0.26,3.466-0.485,5.227-0.631   c12.34-1.029,22.007-11.534,22.007-23.917v-15.045L106.53,344.41z M183.336,369.25c-4.114-0.343-7.336-3.845-7.336-7.972v-3.739   c28.145-11.76,46.944-38.849,47.951-69.539H224c8.605,0,16.422-3.42,22.178-8.965c2.108,10.186,4.414,20.319,6.927,30.372   C255.026,317.09,256,325,256,332.919c0,21.371-11.978,40.466-30.869,49.817C212.536,375.156,198.285,370.496,183.336,369.25z    M224,240c8.822,0,16,7.178,16,16s-7.178,16-16,16V240z M311.464,452.789l19.981-24.187l36.924,17.659l-19.85,23.82   L311.464,452.789z M261.191,421.197l16.195-18.449l39.183,18.74l-20.084,24.312l-30.715-14.334   C264.447,427.958,262.917,424.531,261.191,421.197z M362.183,359.638C357.778,364.752,351.263,368,344,368   c-7.264,0-13.779-3.248-18.183-8.363L344,346L362.183,359.638z M416,389.104l-8.462,10.155l-43.365-20.739   c8.475-4.972,14.969-12.966,17.979-22.499L416,372.944V389.104z M304.197,347.952l-1.164,1.326l-31.061-14.855   c0.01-0.501,0.028-1.001,0.028-1.504c0-5.01-0.346-10.015-1.011-14.979L304,313.224V344   C304,345.334,304.069,346.652,304.197,347.952z M269.69,351.067l22.378,10.702l-18.712,21.316l-15.452-7.39   C263.347,368.38,267.367,360.036,269.69,351.067z M310.206,365.36c5.972,9.415,15.762,16.175,27.179,18.083l7.607,3.638   l-17.921,21.694l-38.72-18.518L310.206,365.36z M341.946,415.889l17.921-21.694l37.103,17.744l-18.034,21.64L341.946,415.889z    M416,414.096v37.21l-22.172-10.604L416,414.096z M416,355.056l-16.844-8.422L416,326.245V355.056z M368,344l-16-12l16-12V344z    M320,344v-24l16,12L320,344z M304,297.062l-36.181,5.168c-4.044-16.495-7.536-33.196-10.458-49.995   c9.727,11.529,23.013,20.105,38.503,23.977l8.136,2.034V297.062z M246.339,387.899l16.053,7.678l-10.107,11.513   c-1.823-2.395-3.766-4.715-5.824-6.952c-2.288-2.486-4.701-4.824-7.207-7.037C241.737,391.505,244.098,389.763,246.339,387.899z    M285.959,458.542L272,475.439v-9.829c0-4.74-0.355-9.437-1.032-14.064L285.959,458.542z M300.937,465.532L331.94,480h-42.956   L300.937,465.532z M363.514,477.079l19.746-23.695L416,469.042V480h-46.226L363.514,477.079z M394.555,313.346   c3.475,0.248,6.888,0.713,10.244,1.338l-20.328,24.607l-0.47-0.235v-26.464L394.555,313.346z M388.255,260.69L368,265.754V300   l-24,18l-24-18v-34.246l-20.255-5.063C273.989,254.251,256,231.212,256,204.663c0-7.38,1.39-14.596,4.13-21.448l3.245-8.114   C270.63,185.316,282.545,192,296,192c0.007,0,0.015-0.001,0.022-0.001C290.988,198.69,288,207.002,288,216v8h112v-8   c0-8.998-2.988-17.31-8.022-24.001c0.007,0,0.015,0.001,0.022,0.001c13.455,0,25.37-6.684,32.624-16.899l3.245,8.114   c2.741,6.852,4.13,14.068,4.13,21.448C432,231.212,414.011,254.251,388.255,260.69z M296.656,67.155l-23.843-33.38   c7.635-5.93,16.301-10.583,25.69-13.636l9.853,44.339C304.317,64.98,300.405,65.885,296.656,67.155z M315.777,80   c6.761,0,13.53,1.598,19.578,4.622L344,88.944l8.645-4.323C358.692,81.598,365.462,80,372.223,80   c22.827,0,41.618,17.564,43.595,39.886C409.159,114.935,400.916,112,392,112c-14.364,0-26.979,7.614-34.034,19.014   C353.616,129.046,348.867,128,344,128c-4.867,0-9.616,1.046-13.966,3.014C322.979,119.614,310.364,112,296,112   c-8.916,0-17.159,2.935-23.818,7.886C274.159,97.564,292.95,80,315.777,80z M379.645,64.477l9.853-44.339   c9.388,3.053,18.055,7.706,25.69,13.636l-23.843,33.381C387.595,65.885,383.683,64.98,379.645,64.477z M296,128   c13.233,0,24,10.767,24,24s-10.767,24-24,24s-24-10.767-24-24S282.767,128,296,128z M336,152c0-1.994-0.151-3.953-0.434-5.869   c2.576-1.38,5.461-2.131,8.434-2.131s5.858,0.751,8.434,2.131C352.151,148.047,352,150.006,352,152   c0,8.998,2.988,17.31,8.022,24.001c-0.007,0-0.015-0.001-0.022-0.001h-32c-0.007,0-0.015,0.001-0.022,0.001   C333.012,169.31,336,160.998,336,152z M320,193.387V208h-14.629C307.785,201.193,313.194,195.802,320,193.387z M336,192h16v16h-16   V192z M368,193.387c6.806,2.415,12.215,7.806,14.629,14.613H368V193.387z M368,152c0-13.233,10.767-24,24-24s24,10.767,24,24   s-10.767,24-24,24S368,165.233,368,152z M446.292,188.955c-0.866-3.967-2.043-7.871-3.567-11.683L432,150.459V144h9.228   C453.784,144,464,154.216,464,166.772C464,177.383,456.586,186.603,446.292,188.955z M441.228,128H432v-4.223   c0-7.291-1.317-14.28-3.718-20.746L446.5,84.813c0.97,5.118,1.5,10.391,1.5,15.787c0,6.91-0.85,13.813-2.526,20.518l-1.743,6.971   C442.903,128.036,442.069,128,441.228,128z M441.23,67.456l-20.895,20.895c-4.009-5.43-8.91-10.16-14.49-13.97l21.1-29.54   C432.825,51.535,437.679,59.15,441.23,67.456z M373.878,16.672l-10.676,48.043c-3.812,0.585-7.571,1.518-11.201,2.819V16h11.4   C366.95,16,370.441,16.245,373.878,16.672z M336,16v51.534c-3.63-1.302-7.389-2.234-11.201-2.819l-10.676-48.043   C317.559,16.245,321.05,16,324.6,16H336z M261.055,44.841l21.1,29.54c-5.58,3.81-10.482,8.54-14.49,13.97L246.77,67.456   C250.32,59.15,255.174,51.535,261.055,44.841z M242.526,121.119C240.85,114.414,240,107.51,240,100.6   c0-5.396,0.529-10.669,1.5-15.787l18.218,18.218c-2.401,6.466-3.718,13.454-3.718,20.746V128h-9.228   c-0.84,0-1.675,0.033-2.505,0.085L242.526,121.119z M246.772,144H256v6.459l-10.485,26.211   c-3.058-9.932-7.403-19.256-12.841-27.784C236.644,145.742,241.56,144,246.772,144z M37.906,200.31   C43.206,149.965,85.377,112,136,112s92.794,37.965,98.094,88.31l0.396,3.768c0.8,7.602,1.725,15.207,2.758,22.805   C233.208,225.037,228.724,224,224,224h-0.196c-1.227-13.194-8.83-24.828-20.548-31.256C206.261,187.87,208,182.135,208,176   c0-17.645-14.355-32-32-32c-12.919,0-24.534,7.178-30.31,18.732l-0.845,1.689l14.31,7.157l0.846-1.69   c3.049-6.1,9.18-9.889,16-9.889c8.822,0,16,7.178,16,16s-7.178,16-16,16c-9.873,0-19.693-1.375-29.187-4.088l-37.774-10.792   c-2.601-0.743-5.291-1.12-7.995-1.12c-11.096,0-21.071,6.165-26.033,16.089l-0.163,0.325C59.644,194.885,48,208.108,48,224   c-4.724,0-9.208,1.037-13.248,2.883c1.033-7.598,1.958-15.202,2.758-22.805L37.906,200.31z M32,256c0-8.822,7.178-16,16-16v32   C39.178,272,32,264.822,32,256z M16,332.919c0-7.919,0.974-15.829,2.895-23.512c2.513-10.053,4.82-20.186,6.927-30.372   C31.578,284.58,39.395,288,48,288h0.049c1.008,30.69,19.806,57.779,47.951,69.539v3.739c0,4.127-3.223,7.629-7.336,7.972   c-14.949,1.246-29.199,5.907-41.795,13.486C27.978,373.386,16,354.29,16,332.919z M16,465.61c0-34.242,21.992-64.197,52.881-75.685   C81.227,415.373,107.293,432,136,432c28.708,0,54.774-16.627,67.119-42.074C234.008,401.413,256,431.369,256,465.61V480H16V465.61z    M432,480v-48h48v48H432z"/><polygon points="128.411,253.47 118.216,284.053 140.422,295.155 147.578,280.845 137.784,275.947 143.589,258.53  "/><path d="M104,259.314l2.343,2.343l11.313-11.314L115.313,248c-5.159-5.159-12.018-8-19.313-8s-14.154,2.841-19.313,8l-2.343,2.343   l11.313,11.314L88,259.314c2.137-2.138,4.979-3.314,8-3.314S101.863,257.177,104,259.314z"/><path d="M168,259.314c2.137-2.138,4.979-3.314,8-3.314s5.863,1.177,8,3.314l2.343,2.343l11.313-11.314L195.313,248   c-5.159-5.159-12.018-8-19.313-8s-14.154,2.841-19.313,8l-2.343,2.343l11.313,11.314L168,259.314z"/><path d="M164.981,317.893l4.363,6.545l13.313-8.875l-16-24l-13.313,8.875l2.714,4.071C150.491,309.35,143.451,312,136,312   s-14.491-2.65-20.058-7.491l2.714-4.071l-13.313-8.875l-16,24l13.313,8.875l4.363-6.545C115.234,324.438,125.341,328,136,328   S156.766,324.438,164.981,317.893z"/><rect x="96" y="216" width="48" height="16"/><rect x="160" y="216" width="16" height="16"/></g></svg>
                </div>
                <p class="corpo-board">
                    Uma das principais razões para a importância da educação financeira na terceira idade é a gestão eficiente dos 
                    recursos financeiros. Aposentados e idosos muitas vezes dependem de uma renda fixa e limitada, como a aposentadoria, 
                    para sustentar suas necessidades diárias e lidar com despesas médicas, moradia e lazer. Com o conhecimento financeiro 
                    adequado, eles podem aprender a administrar seus recursos de forma inteligente, elaborar um orçamento adequado e fazer 
                    escolhas financeiras que preservem e aumentem suas economias.<br/>
                    Além disso, a educação financeira ajuda os idosos a evitar golpes e fraudes financeiras. Infelizmente, os idosos são 
                    frequentemente alvos de pessoas mal-intencionadas que buscam se aproveitar de sua falta de conhecimento sobre questões 
                    financeiras. Ao estar familiarizado com os princípios básicos da educação financeira, como identificar esquemas 
                    fraudulentos, proteger informações pessoais e entender seus direitos financeiros, os idosos podem se proteger melhor 
                    contra fraudes e manter seu patrimônio seguro.
                </p>
            </div>
        </div>

        <div class="body-squares">
            <div class="insider">
                <h1 class="squares-titles">Armadilhas Financeiras</h4>
                <p class="squares-content">Empréstimo Consignado;<br/>Financiamento;<br/>Cartão de crédito.</p>
            </div>
            <div class="insider">
                <h1 class="squares-titles">Planej. Patr. e Sucessório</h4>
                <p class="squares-content">Testamento;<br/>Inventário;<br />Doações;</p>
            </div>
            <div class="insider">
                <h1 class="squares-titles">Ger. de Despesas Médicas</h4>
                <p class="squares-content">Planos de saúde e seguros de saúde;<br/>Uso eficiente de medicamentos;<br/>Progr. gov. de ass. médica.</p>
            </div>
            <div class="insider">
                <h1 class="squares-titles">Tecnologia e Finanças</h4>
                <p class="squares-content">Util.de apps e ferr. financeiras;<br/>Segurança cibernética;<br/>Acesso a serviços bancários.</p>
            </div>
        </div>
        <div class="footer-centralizado">
            <div class="final-pagina">
                <p class="footer-textl">
                    Buscando a conscientização das pessoas sobre assuntos financeiros
                </p>
                <p class="footer-textr">
                    UEG - Universidade Estadual de Goiás
                </p>
            </div>
        </div>
    </body>
</html>