<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Educação Financeira Para a 3ª Idade</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="header-banner">
            <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
            <P class="legenda">Para Pessoas da Terceira Idade</P>
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/videomaterial">Vídeos e Textos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/informacoes">Informações</a>
                <a class="hover-underline-animation" href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="middle-page">
            <div class="img-container"><img class="elder-woman" src="/images/older-woman-finance.jpg" alt="Idosa calculando suas contas" /></div>
            <div class="text">
                <p class="body-text">
                    Manter o controle sobre o próprio dinheiro é uma habilidade essencial em qualquer fase da vida, e isso se torna 
                    ainda mais relevante ao alcançar a terceira idade.
                </p>
                <p class="body-text">
                    Uma das principais razões para manter o controle sobre o dinheiro é a autonomia e independência que ele 
                    proporciona. Ao ter conhecimento e domínio sobre suas finanças pessoais, você se torna capaz de tomar decisões 
                    conscientes e responsáveis em relação aos seus gastos, investimentos e planejamento para o futuro.
                </p>
                <p class="body-text">
                    O controle sobre o próprio dinheiro é um meio eficaz de evitar problemas financeiros e o endividamento excessivo. 
                    Conhecendo sua situação financeira atual, você pode identificar possíveis áreas de melhoria e adotar medidas para 
                    reduzir gastos desnecessários e aumentar sua capacidade de poupança.
                </p>
                <p class="body-text">
                    Além disso, o controle financeiro possibilita o planejamento para a aposentadoria e o envelhecimento saudável. 
                    Com um planejamento financeiro sólido, você estará mais preparado para desfrutar de uma aposentadoria confortável 
                    e segura.
                </p>
            </div>
        </div>

        <div class="board-principal">
            <div class="board-esquerdo">
                <div class="educacao-financeira">
                    <img class="money-bag" src="/vectors/money-bag.svg" alt="Uma sacola de dinheiro">
                    <h2 class="titulo-svg">Por Que Educação Financeira?</h2>
                </div>
                <p class="corpo-board">
                    Quando se tem conhecimento sobre conceitos básicos de educação financeira, como orçamento, poupança, 
                    investimentos e gerenciamento de dívidas, é possível evitar armadilhas financeiras e alcançar metas financeiras 
                    de forma mais eficiente.
                </p>
                <p class="corpo-board">
                    Pessoas que possuem esse conhecimento são capazes de criar um plano de orçamento pessoal eficaz, que lhes permite 
                    administrar suas despesas e priorizar seus gastos de acordo com suas necessidades e objetivos.
                </p>
            </div>
            <div class="board-direito">
                <div class="educacao-financeira">
                    <h2 class="titulo-svg">Por Que Na Terceira Idade?</h2>
                    <img class="seniors" src="/vectors/seniors.svg" alt="Dois idosos">
                </div>
                <p class="corpo-board">
                    Uma das principais razões é a gestão eficiente dos 
                    recursos financeiros. Aposentados e idosos muitas vezes dependem de uma renda fixa e limitada, como a aposentadoria, 
                    para sustentar suas necessidades diárias e lidar com despesas médicas, moradia e lazer.
                </p>
                <p class="corpo-board">
                    Além disso, a educação financeira ajuda os idosos a evitar golpes e fraudes financeiras. Ao estar familiarizado 
                    com os princípios básicos, os idosos podem se proteger 
                    melhor contra fraudes e manter seu patrimônio seguro.
                </p>
            </div>
        </div>

        <div class="body-squares">
            <a href="/">
                <div class="insider armadilha">
                    <img src="/images/money.jpg" alt="Notas de dinheiro">
                    <h1 class="squares-titles">Armadilhas Financeiras</h4>
                </div>
            </a>
            <a href="/">
                <div class="insider planejamento">
                    <img src="/images/planejamento-sucessorio.jpg" alt="Notas de dinheiro">
                    <h1 class="squares-titles preto">Planejamento Sucessório</h4>
                </div>
            </a>
            <a href="/">
                <div class="insider gerenciamento">
                    <img src="/images/gastos.jpg" alt="Notas de dinheiro">
                    <h1 class="squares-titles">Gerenciamento de Despesas</h4>
                </div>
            </a>
            <a href="/">
                <div class="insider tecnologia">
                    <img src="/images/tecnologia-financas.jpg" alt="Notas de dinheiro">
                    <h1 class="squares-titles preto">Tecnologia e Finanças</h4>
                </div>
            </a>
        </div>
        <div class="footer-centralizado">
            <div class="final-pagina">
                <p class="footer-textl">
                    Buscando a conscientização das pessoas sobre assuntos financeiros
                </p>
                <p class="footer-textr">
                    UEG - Universidade Estadual de Goiás
                </p>
            </div>
        </div>
    </body>
</html>