<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Informações</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/stylesInformacoes.css">
    </head>
    <body>
        <div class="header-banner">
            <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
            <P class="legenda">Para Pessoas da Terceira Idade</P>
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/videomaterial">Vídeos e Textos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/informacoes">Informações</a>
                <a class="hover-underline-animation" href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="frame brasil">
            <div class="frame-conj">
                <iframe id="impostometro" src="https://impostometro.com.br/widget/contador/" width="590" height="191" scrolling="no" frameborder="0">
                </iframe>
                <p class="direita">
                    Impostômetro mostrando a quantidade de imposto coletado no Brasil.<br/>
                    Fonte: Associação Comercial de São Paulo
                </p>
            </div>
        </div>

        <div class="frame goias">
            <div class="frame-conj">
                <p class="esquerda">
                    Impostômetro mostrando a quantidade de imposto coletado em Goiás.<br/>
                    Fonte: Associação Comercial de São Paulo
                </p>
                <iframe id="impostometro" src="https://impostometro.com.br/widget/contador/go" width="590" height="191" scrolling="no" frameborder="0">
                </iframe>
            </div>
        </div>

        <div class="frame anapolis">
            <div class="frame-conj">
                <iframe id="impostometro" src="https://impostometro.com.br/widget/contador/go?municipio=anapolis" width="590" height="191" scrolling="no" frameborder="0">
                </iframe>
                <p class="direita">
                    Impostômetro mostrando a quantidade de imposto coletado em Anápolis.<br/>
                    Fonte: Associação Comercial de São Paulo
                </p>
            </div>
        </div>

        <div class="footer-centralizado">
            <div class="final-pagina">
                <p class="footer-textl">
                    Buscando a conscientização das pessoas sobre assuntos financeiros
                </p>
                <p class="footer-textr">
                    UEG - Universidade Estadual de Goiás
                </p>
            </div>
        </div>
    </body>
</html>