<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Vídeos e Textos</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/stylesProfessor.css">
    </head>
    <body>
        <div class="header-banner">
            <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
            <P class="legenda">Para Pessoas da Terceira Idade</P>
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/videomaterial">Vídeos e Textos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/informacoes">Informações</a>
                <a class="hover-underline-animation" href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="importancia-professor">
            <h1>Importância do professor e orientações</h1>
            <div class="corpo-professora">
                <div class="p-elements">
                    <p>
                        É o professor que estimula o pensamento crítico, encoraja a criatividade e nutre o desejo de aprender. 
                        Sua importância é imensurável, pois é ele quem inspira, guia e compartilha conhecimento. Seu compromisso vai além da 
                        transmissão de conteúdo, pois ele é responsável por instigar o questionamento, incentivar o diálogo e cultivar 
                        o espírito de cooperação.
                    </p>
                    <p>
                        Segue sugestão de roteiro de aulas programadas para alunos da terceira idade.
                    </p>
                    <p>
                        Destaca-se ao professor que este guia não é rígido. É possível e necessário modificá-lo para adaptar-se às 
                        particularidades socioculturais da turma de estudantes em que será utilizado. Todo o material utilizado 
                        encontra-se disponível neste site. Além disso, oferecemos o link "entre em contato" para esclarecer quaisquer 
                        dúvidas e receber sugestões.    
                    </p>
                </div>
                <img class="professora-img" src="/images/professora.png" alt="Professora dando aula">
            </div>
        </div>

        <div class="roteiro-titulo">
            <h1>Professor: Exemplo de roteiro de aulas</h1>
        </div>

        <div class="roteiro">
            <h2>Aula 1: Introdução à Educação Financeira</h2>
            <p>
                - Apresentação do tema e importância da educação financeira;<br />
                - Exploração dos conceitos básicos, como orçamento, poupança e investimentos;<br />
                - Discussão sobre a relação entre dinheiro e qualidade de vida;<br />
                - Atividade prática: criar um orçamento pessoal básico;<br />
            </p>
        </div>

        <div class="roteiro">
            <h2>Aula 2: Gerenciando Despesas e Fazendo Escolhas Financeiras</h2>
            <p>
                - Identificação e classificação das despesas: fixas, variáveis e supérfluas;<br />
                - Técnicas para reduzir despesas e evitar desperdícios;<br />
                - Tomada de decisões financeiras conscientes e análise de custo-benefício;<br />
                - Atividade prática: análise de gastos pessoais e elaboração de um plano de economia;<br />
            </p>
        </div>
        
        <div class="roteiro">
            <h2>Aula 3: Poupança e Investimentos</h2>
            <p>
                - Explicação dos diferentes tipos de contas de poupança e investimentos;<br />
                - Compreensão do conceito de juros compostos e seu impacto ao longo do tempo;<br />
                - Avaliação de riscos e retorno de investimentos;<br />
                - Atividade prática: simulação de investimentos e cálculo de rendimentos;<br />
            </p>
        </div>
        
        <div class="roteiro">
            <h2>Aula 4: Dívidas e Gerenciamento do Crédito</h2>
            <p>
                - Análise dos tipos de dívidas: boletos, cartões de crédito, empréstimos etc;<br />
                - Entendimento dos custos e consequências das dívidas;<br />
                - Estratégias para reduzir e eliminar dívidas;<br />
                - Atividade prática: criação de um plano de pagamento de dívidas;<br />
            </p>
        </div>

        <div class="roteiro">
            <h2>Aula 5: Planejamento para a Aposentadoria</h2>
            <p>
                - Importância do planejamento financeiro a longo prazo;<br />
                - Exploração das opções de previdência e planos de aposentadoria;<br />
                - Cálculo de metas de poupança para a aposentadoria;<br />
                - Atividade prática: elaboração de um plano de aposentadoria pessoal;<br />
            </p>
        </div>

        <div class="roteiro">
            <h2>Aula 6: Proteção e Seguro Financeiro</h2>
            <p>
                - Discussão sobre a importância do seguro saúde, seguro de vida e seguro de bens;<br />
                - Avaliação das opções disponíveis e coberturas oferecidas;<br />
                - Análise de diferentes cenários e situações de risco;<br />
                - Atividade prática: seleção e comparação de diferentes tipos de seguros;<br />
            </p>
        </div>

        <div class="roteiro">
            <h2>Aula 7: Investimento em Educação Financeira Contínua</h2>
            <p>
                - Incentivo à busca constante por conhecimento financeiro;<br />
                - Exploração de recursos e fontes de informação confiáveis;<br />
                - Discussão sobre a importância de hábitos financeiros saudáveis;<br />
                - Atividade prática: desenvolvimento de um plano de aprendizado contínuo em educação financeira;<br />
            </p>
        </div>

        <p class="roteiro-final">
            Lembre-se de adaptar o roteiro de acordo com o nível de conhecimento e as necessidades da sua turma de alunos. 
            Também é importante incluir atividades práticas, exemplos reais e incentivar a participação ativa dos estudantes 
            nas discussões e atividades propostas.
        </p>




        <div class="footer-centralizado">
            <div class="final-pagina">
                <p class="footer-textl">
                    Buscando a conscientização das pessoas sobre assuntos financeiros
                </p>
                <p class="footer-textr">
                    UEG - Universidade Estadual de Goiás
                </p>
            </div>
        </div>
    </body>
</html>