<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Vídeos e materiais</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/stylesVideomaterial.css">
    </head>
    <body>
        <div class="header-banner">
            <p class="primeiro-titulo">EDUCAÇÃO FINANCEIRA</p>
            <P class="legenda">Para Pessoas da Terceira Idade</P>
        </div>
        <div class="container">
            <nav class="entire-bar">
                <a class="hover-underline-animation" href="/">Home</a>
                <a class="hover-underline-animation" href="/videomaterial">Vídeos e Textos</a>
                <a class="hover-underline-animation" href="/professor">Professor</a>
                <a class="hover-underline-animation" href="/informacoes">Informações</a>
                <a class="hover-underline-animation" href="/contato">Fale Conosco</a>
            </nav>
        </div>

        <div class="corpo-videos">
            <h1>Aqui você encontra alguns vídeos e textos relevantes!</h1>

            <div class="item">
                <div class="corpo">
                    <h2>Organização de Despesas</h2>
                    <p>
                        Vídeo curto ensinando como organizar suas despesas.
                    </p>
                </div>
                <iframe width="315" height="560"
                    src="https://youtube.com/embed/-C_wnHh0E4c?feature=share"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>

            <div class="item">
                <div class="corpo">
                    <h2>Problema Não Tão Óbvio</h2>
                    <p>
                        Vídeo curto apresentando um problema com uma solução aparentemente óbvia. Porém, se realizado os cálculos a solução é surpreendente. 
                    </p>
                </div>
                <iframe width="315" height="560"
                    src="https://youtube.com/embed/BwWLplFwh0Q?feature=share"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>

            <div class="item">
                <div class="corpo">
                    <h2>Armadilhas nos Supermercados</h2>
                    <p>
                        Vídeo curto falando sobre estratégias dos supermercados de fazer você gastar mais.
                    </p>
                </div>
                <iframe width="315" height="560"
                    src="https://youtube.com/embed/5AE6lvrz5Y8?feature=share"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
        </div>


        <div class="footer-centralizado">
            <div class="final-pagina">
                <p class="footer-textl">
                    Buscando a conscientização das pessoas sobre assuntos financeiros
                </p>
                <p class="footer-textr">
                    UEG - Universidade Estadual de Goiás
                </p>
            </div>
        </div>
    </body>
</html>